<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <section sec:authorize="hasRole('ROLE_ADMIN')" th:fragment="agregarGuiaItinerario">
            <div id="agregarGuiaItinerario" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title" th:text="#{accion.agregar}">Agregar guiaItinerario</h5>
                            <button class="close" data-dismiss="modal">
                                <span>&times;</span>
                            </button>
                        </div>
                        <form th:action="@{/guardarGuiaItinerario}" th:object="${guiaItinerario}"
                              method="POST" class="was-validated">
                            <input type="hidden" name="persona.idPersona" th:field="*{persona.idPersona}"/>
                            <div class="modal-body">
                                <label for="itinerarios" th:text="#{itinerarios}">Itinerarios: </label>
                                <select th:field="*{itinerario}">
                                    <option value=""> -Seleccionar- </option>
                                    <option th:each="itinerario : ${itinerarios}"
                                            th:value="${itinerario.idItinerario}"
                                            th:utext="${itinerario.idItinerario}"/>
                                </select>
                            </div>
                            <div class="modal-footer">
                                <button class="btn  btn-primary" type="submit" th:text="#{accion.guardar}"></button>
                            </div>
                        </form>
                    </div>
                </div>                
            </div>
        </section>
    </body>
</html>
