<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Listado Itinerarios</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <section sec:authorize="hasRole('ROLE_GUIA')" th:fragment="listadoGuiaItinerarios" id="listadoGuiaItinerarios">
            <br/>
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>Listado de itinerarios a su cargo</h4>
                            </div>
                            <div th:if="${guiaItinerarios != null and !guiaItinerarios.empty}">
                                <table class="table table-stryped">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>#</th>
                                            <th th:text="#{guia.duracion}">Duracion</th>
                                            <th th:text="#{guia.longitud}">Longitud</th>
                                            <th th:text="#{guia.max-visitantes}">Max Visitantes</th>
                                            <th th:text="#{guia.num-especies}">Num Especies</th>
                                            <th th:text="#{guia.horario}">Horario</th>
                                            <th th:text="#{guia.zonas}">Zonas</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="guiaItinerario : ${guiaItinerarios}">
                                            <td>[[${guiaItinerario.itinerario.idItinerario}]]</td>
                                            <td>[[${guiaItinerario.itinerario.duracion}]]</td>
                                            <td>[[${guiaItinerario.itinerario.longitud}]]</td>
                                            <td>[[${guiaItinerario.itinerario.maxVisitantes}]]</td>
                                            <td>[[${guiaItinerario.itinerario.numEspecies}]]</td>
                                            <td>[[${guiaItinerario.itinerario.horario}]]</td>
                                            <td th:if="${guiaItinerario.itinerario.itinerarioZonas != null and !guiaItinerario.itinerario.itinerarioZonas.empty}">
                                                <select>
                                                    <option th:each="itinerarioZona : ${guiaItinerario.itinerario.itinerarioZonas}"
                                                            th:utext="${itinerarioZona.zona.nombre}"/>
                                                </select>
                                            </td>
                                            <td th:if="${guiaItinerario.itinerario.itinerarioZonas == null or guiaItinerario.itinerario.itinerarioZonas.empty}">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${guiaItinerarios == null or guiaItinerarios.empty}">
                                <span th:text="#{objeto.lista-vacia}">Lista vacia</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center bg-danger text-white mb-3">
                            <div class="card-body">
                                <h3 class="display-5">
                                    <i class="fas fa-user"></i> Guia
                                </h3>
                                <h4 th:text="${persona.nombre}">Guia</h4>
                            </div>                            
                        </div>
                        <div class="card text-center bg-success text-white mb-3">
                            <div class="card-body">
                                <h3 class="display-5">
                                    <i class="fas fa-clock"></i> Fecha
                                </h3>
                                <h6 th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}">Fecha</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
