<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Listado Especies</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <section sec:authorize="hasRole('ROLE_CUIDADOR')" th:fragment="listadoCuidadorEspecies" id="listadoCuidadorEspecies">
            <br/>
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>Listado de especies a su cargo</h4>
                            </div>
                            <div th:if="${cuidadorEspecies != null and !cuidadorEspecies.empty}">
                                <table class="table table-stryped">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>#</th>
                                            <th th:text="#{especie.nombre}">Nombre</th>
                                            <th th:text="#{especie.nombre-cientifico}">Nombre Científico</th>
                                            <th th:text="#{especie.descripcion}">Descripcion</th>
                                            <th th:text="#{especie.habitats}">Habitats</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="cuidadorEspecie, contador : ${cuidadorEspecies}">
                                            <td>[[${contador.count}]]</td>
                                            <td>[[${cuidadorEspecie.especie.nombre}]]</td>
                                            <td>[[${cuidadorEspecie.especie.nombreCientifico}]]</td>
                                            <td>[[${cuidadorEspecie.especie.descripcion}]]</td>
                                            <td th:if="${cuidadorEspecie.especie.especieHabitats != null and !cuidadorEspecie.especie.especieHabitats.empty}">
                                                <select>
                                                    <option th:each="especieHabitat : ${cuidadorEspecie.especie.especieHabitats}"
                                                            th:utext="${especieHabitat.habitat.nombre}"/>
                                                </select>
                                            </td>
                                            <td th:if="${cuidadorEspecie.especie.especieHabitats == null or cuidadorEspecie.especie.especieHabitats.empty}">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${cuidadorEspecies == null or cuidadorEspecies.empty}">
                                <span th:text="#{objeto.lista-vacia}">Lista vacia</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center bg-danger text-white mb-3">
                            <div class="card-body">
                                <h3 class="display-5">
                                    <i class="fas fa-user"></i> Cuidadore
                                </h3>
                                <h4 th:text="${persona.nombre}">Cuidadore</h4>
                            </div>                            
                        </div>
                        <div class="card text-center bg-success text-white mb-3">
                            <div class="card-body">
                                <h3 class="display-5">
                                    <i class="fas fa-clock"></i> Fecha
                                </h3>
                                <h6 th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}">Fecha</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
